.padd-tb {
    padding: 4.8rem 0 4.8rem;
}
.bg-right {
    background-color: #4d9df3;
    background-image: linear-gradient(to right bottom, #4d9df3, #a9d2ff);
}

.bg-left {
    background-image: linear-gradient( to right bottom, rgb(13 110 253 / 48%), rgb(13 110 253 / 32%) ), url('../img/bg.jpeg');
    background-size: cover;
    background-position: center;
}
.fix--height{
    min-height:58vh;
}



#loginContent {
    display: none;

    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#loginContent.show {
    display: block;

    opacity: 1;
    transform: scale(1);
}

#registrationContent {
    display: block;

    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#registrationContent.hide {
    display: none;

    opacity: 0;
    transform: scale(0.8);
}

